
header {
    display: flex;
    justify-content: space-between;
}

#headers-logo {
    padding: 30px 50px 30px 50px;
    height: 19px;
}

header nav {
    display: flex;
    justify-content:flex-start;
    padding: 0px 50px;
}

#menu {
    display: flex;
    list-style: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    gap: 68px;
}

header nav ul li {
    border-top: 2px solid white;
    padding-top: 16px;
}

header nav ul li:hover {
    border-top: 2px solid #0065FC;
    color:#0065FC;
}
